<body>
    <div style="backgound:#eeeeee; width: 700px; height:90px; padding: 20px;">
    <h1>Hello, welcome in my world</h1>
    <p>lorem ipsunlorem ipsunlorem ipsunlorem ipsunlorem ipsunlorem ipsunlorem ipsunlorem ipsunlorem ipsun
    lorem ipsunlorem ipsunlorem ipsunlorem ipsunlorem ipsunlorem ipsunlorem ipsun
    lorem ipsunlorem ipsunlorem ipsunlorem ipsunlorem ipsun
        </div>
</body>
